{% extends 'main.html' %}

{% block content %}
{% if page == 'login' %}
<div>
    <h1>Login Page</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" id="username"name="username" placeholder="Enter username">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter password">
        <input type="submit" value = "Login">
    </form>
</div>
<p>Dont have an account</p>
<a href="{% url 'register'%}">Register</a>
{% else %}
<div>

    <form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit">

    </form>
</div>

<p>Already have an account</p>
<a href="{% url 'login' %}">Login</a>

{%endif%}

{% endblock %}